@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 20px;">
    <h1>Práctica de MVC.</h1>
    <p class="lead">Práctica de MVC usando ASP.NET para el lab .NET 2022.</p>
    <a href="/Employee" class="btn btn-info" role="button">Tabla de Employees</a>
</div>

<div class="row">
    <div class="col-centered">
        <h2 class="text-center">Consola te extraño.</h2>
        <p class="text-center">
            Intente actualizar Bootstrap 3 a Bootstrap 5, usando NuGet y cambiando referencias, bundles, etc., y creo que jamás la pase tan mal.
            Pensé que lo había hecho, hasta que intente ponerle un dropdown al navbar y me caí a pedazos horriblemente, me faltaba incorporar popper.js
            pero por donde lo intentara igual no salía. Como tarde demasiado y no lo logre revertí todo, terminando sin dignidad y con Bootstrap 3.
        </p>
        <img class="img-rounded img-responsive" 
             src="https://i.kym-cdn.com/entries/icons/facebook/000/018/929/graphic_design_is_my_passion.jpg"
             alt="Graphic design is my passion"
             style="margin: auto;">
    </div>
</div>