<div class="jumbotron" style="margin-top: 20px;">
    <h1>Práctica de API.</h1>
    <p class="lead">Práctica de API usando ASP.NET para el lab .NET 2022.</p>
    <a href="/Help" class="btn btn-info" role="button">Pseudo-documentación de la API.</a>
</div>

<script src="/Scripts/jquery-3.4.1.js"></script>

<div class="row">

    @{ 
        string url = "https://random.dog/woof.json?include=jpg,jpeg,png";
        HttpWebRequest request = (HttpWebRequest)WebRequest.Create(url);
        request.Method = "GET";
        request.ContentType = "application/json";
        request.Accept = "application/json";

        Practica.MVC.API.Models.RandomDogResponse randomDog;

        using (WebResponse response = request.GetResponse())
        {
            using (StreamReader sr = new StreamReader(response.GetResponseStream(), System.Text.Encoding.UTF8))
            {
                var jtr = new Newtonsoft.Json.JsonTextReader(sr);
                randomDog = new Newtonsoft.Json.JsonSerializer().
                    Deserialize<Practica.MVC.API.Models.RandomDogResponse>(jtr);
            }
        }
    }
    <div class="col-centered">
        <h1 class="text-center">Consumiendo APIs</h1><br />
        <p class="text-center">Estoy usando la API de  https://random.dog/, las imagenes que entrega a veces tardan en cargar. </p>
        <h2 class="text-center">API consumida con .NET usando HttpWebRequest que muestra una imagen de un perro al azar:</h2>
        <img class="img-rounded img-responsive" src=@randomDog.Url alt="Random dog picture" style="margin: auto; height: 400px; width: auto;">
        <br />
        <h2 class="text-center">API consumida con jQuery usando ajax que muestra una imagen de un perro al azar:</h2>
        <img class="img-rounded img-responsive" id="pic" src="" alt="Random dog picture" style="margin: auto; height: 400px; width: auto;"/>
    </div>
</div>
<script>
    let url = "https://random.dog/woof.json?include=jpg,jpeg,png";
    jQuery.ajax({
        url: url,
        type: "GET",
        dataType: "json"
    })
        .done(function (data) {
            document.getElementById("pic").src = data.url;
        });
</script>