@model List<Practica.MVC.MVC.Models.EmployeeView>

@{
    ViewBag.Title = "Index de Employee";
}

<h1 class="bg-primary text-center">Index de Employee</h1>

<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last name</th>
            <th>First name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
            </tr>
        }
    </tbody>
</table>
