@model Practica.MVC.MVC.Models.EmployeeView

@{
    ViewBag.Title = "Update de Employee";
}

<h1 class="bg-primary text-center">Update a Employee</h1>

@using (Html.BeginForm("Update", "Employee", FormMethod.Post))
{
    <div class="form-group row">
        <div class="col-xs-2 col-centered">
            <label>Id: </label> @Html.TextBoxFor(e => e.Id, new { @class = "form-control" })
            <span class="help-block">Debe ser numérico.</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3 col-centered">
            <label>Apellido: </label> @Html.TextBoxFor(e => e.LastName, new { @class = "form-control" })
            <span class="help-block">Hasta 20 caracteres.</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3 col-centered">
            <label>Nombre: </label> @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control" })
            <span class="help-block">Hasta 10 caracteres.</span>
        </div>
    </div>
    <div class="text-center">
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </div>
}